tr.mat-header-row {
  font-weight: bold;
  font-size: 20px 
}

tr.mat-row {
  font-weight: bold;
}

.mat-column-marketBid {
  text-align: right;
  vertical-align: center
}

.mat-column-marketAsk {
  text-align: right;
  vertical-align: center
}

.mat-column-bid {
  text-align: right;
  vertical-align: center
}

.mat-column-ask {
  text-align: right;
  vertical-align: center
}

.mat-column-spread {
  text-align: right;
  vertical-align: center
}
