/* Expandable table rows CSS*/
table {
  width: 100%;
}

tr.spot-price-detail-row {
  height: 0;
}

tr.spot-price-element-row:not(.spot-price-expanded-row):hover {
  background: #f5f5f5;
}

tr.spot-price-element-row:not(.spot-price-expanded-row):active {
  background: #efefef;
}

.spot-price-element-row td {
  border-bottom-width: 0;
}

.spot-price-element-detail {
  overflow: hidden;
  display: flex;
}

.spot-price-element-diagram {
  min-width: 80px;
  border: 2px solid black;
  padding: 8px;
  font-weight: lighter;
  margin: 8px 0;
  height: 104px;
}

.spot-price-element-symbol {
  font-weight: bold;
  font-size: 40px;
  line-height: normal;
}

.spot-price-element-description {
  padding: 16px;
}

.spot-price-element-description-attribution {
  opacity: 0.5;
}

/* Bold font */
tr.mat-header-row {
  font-weight: bold;
}

/* Bold font */
tr.mat-row {
  font-weight: bold;
}

/* these classes enable CDK to apply below styles  */
.mat-column-marketBid {
  text-align: right;
  vertical-align: center
}

.mat-column-marketAsk {
  text-align: right;
  vertical-align: center
}

.mat-column-bid {
  text-align: right;
  vertical-align: center
}

.mat-column-ask {
  text-align: right;
  vertical-align: center
}

.mat-column-spread {
  text-align: right;
  vertical-align: center
}
